/* PÁGINA SESSÕES - ESCOLHA DE ASSENTOS */

.sessao-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15vh 4vw 5vh 4vw;
    row-gap: 10px;
    text-transform: uppercase;
}

.mini {
    font-size: 9px;
}

.sessao-info {
    display: flex;
    column-gap: 25px;
}

.section-controle {
    display: flex;
    column-gap: 60px;
    height: 70vh;
}

.section-confirmar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-cinza, .btn-amarelo {
    all:unset;
    text-decoration: none;
    color: #C4C4C4;
    text-transform: uppercase;
}

.btn-cinza {
    border: 3px solid #C4C4C4;
}

.btn-amarelo {
    border: 3px solid #FFBF54;
}
  
.btn-cinza:hover, .btn-amarelo {
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-self: flex-end;
}

.botoes .btn-vermelho, .btn-cinza, .btn-amarelo {
    font-size: 1em;
    width: 140px;
    padding: 4px 0;
    text-align: center;
}

#assentos-selecionados {
    font-size: 14px;
}

#assentos-selecionados div, .tela {
    padding: 5px;
    background-color: #131314;
    text-align: center;
}

#assentos-selecionados div {
    width: 80px;
}

.tela {
    width: 800px;
    align-self: flex-end;
}
