/* ESPECIFICAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

body {
  background-color: #2a2c3c;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #e1e1e1;
}

p {
  font-family: "PT serif", serif;
  font-size: 14px;
  padding: 10px 0px;
  font-weight: normal;
}

.container,
.logo,
nav ul,
.busca-filmes {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242732;
  padding: 15px 100px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.logo h1 {
  color: #ffbf54;
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  padding-left: 27px;
  padding-top: 5px;
}

header nav {
  margin-left: auto;
}

header nav ul li a {
  margin-left: 25px;
  margin-top: 20px;
  color: #e1e1e1;
  font-weight: bold;
}

/* SEARCH */

.filmes {
  margin-top: 100px;
  margin-left: 167px;
}

input {
  border-style: none;
  border-color: rgb(48, 48, 71);
  width: 654px;
  height: 40px;
  border-radius: 6px;
  background: #242732;
  color: #e1e1e1;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin-right: 70px;
  margin-bottom: 10px;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ee1d1d;
  margin-top: 7px;
}

.busca-filmes img {
  margin-left: 20px;
}

/* SOBRE */

.sobre {
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
}

.text-sobre {
  width: 375px;
  margin-right: 130px;
  height: 300px;
  overflow: auto;
  padding-right: 10px;
}

.sobre img {
  width: 314px;
  height: 250px;
  background: radial-gradient(
    88.79% 88.79% at 6.76% 3.79%,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0.06) 100%
  );
  border: 10px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  /* Nota: backdrop-filter não funciona no firefox nem no IE */
  border-radius: 2px;
  margin: 20px 10px;
  z-index: -2;
}

.sobre h2::after {
  width: 65px;
}

/* Footer */

footer {
  background-color: #242732;
  padding: 30px 100px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.redes-sociais h2,
.contato h2 {
  margin-bottom: 20px;
}

.redes-sociais h2::after {
  width: 140px;
}

.redes-sociais ul li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociais ul li a {
  display: block;
  border: 3px solid #ee1d1d;
}

.redes-sociais ul li a img {
  width: 25px;
  height: 25px;
  margin: 10px 10px 5px 10px;
}

.contato h2::after {
  width: 82px;
}
.contato ul li {
  color: #e1e1e1;
  list-style-type: disc;
  font-family: "PT Serif", serif;
  font-size: 14px;
}
.contato ul li a {
  text-decoration: none;
  color: #e1e1e1;
}
footer img,
.contato {
  margin-left: auto;
}
