/* ESPECIFICAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

body {
  background-color: #2a2c3c;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #e1e1e1;
}

p {
  font-family: "PT serif", serif;
  font-size: 14px;
  padding: 10px 0px;
  font-weight: normal;
}

.container,
.logo,
nav ul,
.busca-filmes,
.data {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242732;
  padding: 15px 100px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  z-index: 12;
}

.logo h1 {
  color: #ffbf54;
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  padding-left: 27px;
  padding-top: 5px;
}

header nav {
  margin-left: auto;
}

header nav ul li a {
  margin-left: 25px;
  color: #e1e1e1;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

header nav ul li a img {
  margin-top: 3px;
}

/* SEARCH */

.filmes {
  margin-top: 100px;
  margin-left: 167px;
}

input {
  border-style: none;
  border-color: rgb(48, 48, 71);
  width: 654px;
  height: 40px;
  border-radius: 6px;
  background: #242732;
  color: #e1e1e1;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin-right: 70px;
  margin-bottom: 5px;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ee1d1d;
  margin-top: 7px;
}

.busca-filmes img {
  margin-left: 20px;
}
/*CELULAR*/

/*
  ATÉ 600PX
@media(max-width:600px){
  .busca-filmes input{
    width: 270px;
  }
}*/
/*TABLET IPAD PRO*/
/*
ENTRE 601 E 1024
@media(min-width:601px) and (max-width:1024px){
  .busca-filmes input{
    width: 450px;
    word-break: normal; quebra de linha
  }
  
}*/


/*TELA POPUP DE LOGIN*/
.tela-popup {
  display: none; /*inicia invisivel*/
}
.tela-popup:target {
  /*quando clicado surge a tela  */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tela-popup {
  text-align: center;
  backdrop-filter: blur(2px); /*qtd de escurecimento*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  z-index: 10;
}

.tela-popup-area {
  /*configs da area da tela popup*/
  position: absolute;
  height: 100px;
  width: 100px;
  left: 0;
  top: 0;
  cursor: default;
}
.conteudo {
  /*estiliza a div da tela*/
  width: 614px;
  height: 430px;
  position: relative;
  background-color: #e1e1e1;
  border-radius: 5px;
  text-transform: uppercase;
  color: #2f2e41;
}

.login,
.conteudo-container {
  display: flex;
  flex-direction: column;
}

.login {
  /*posicionar titulo da popup com as divs de login e senha uma abaixo da outra*/
  width: 280px;
  margin: 30px;
  align-items: center;
  padding: 20px 50px 77px 25px;
  justify-content: space-between;
}

.login h3 {
  font-family: "PT Serif", serif;
  font-size: 16px;
}
.login input {
  width: 250px;
}

.login label {
  text-transform: uppercase;
  color: #2f2e41;
  font-size: 12px;
  margin-top: 8px;
}
.label {
  margin-left: 26px;
}
.label p {
  display: none;
}
.login .enviar {
  text-transform: uppercase;
  border-radius: 0;
  font-size: 14px;
  width: 137px;
  height: 35px;
  cursor: pointer;
}

.img-input,
.login-email,
.senha,
.label {
  display: flex;
  flex-direction: row;
}

.login-email,
.senha {
  align-items: center;
}

.senha img {
  width: 17px;
  height: 18px;
  margin-right: 10px;
}

.fechar {
  background-color: none;
  color: #3c3c3c;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 5px;
  padding-top: 8px;
  display: inline-block;
  font-size: 16px;
}

.img-input {
  width: 290px;
  height: 432px;
}

.login img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.login a {
  text-decoration: none;
  color: #2f2e41;
  font-size: 12px;
  cursor: pointer;
  margin-left: 150px;
}

/*TESTE CARROSSEL*/

.posters-container {
  margin-top: 10px;
  height: 500px;
  background-color: #242732;
}
.posters {
  width: 80%;
  height: 331px;
  margin: 0 auto;
  padding: 20px 33px;
}

.owl-carousel img {
  width: 100%;
  height: 100%;
  display: block;
}

.owl-carousel img,
#sobre img {
  background: radial-gradient(
    88.79% 88.79% at 6.76% 3.79%,
    rgba(0, 0, 0, 0.42) 0%
  );
  border: 10px solid rgba(0, 0, 0, 0.3);
  /* Nota: backdrop-filter não funciona no firefox nem no IE */
  border-radius: 2px;
  z-index: -5;
  cursor: pointer;
}

.poster-filme img {
  max-width: 200px;
  max-height: 271px;
  width: auto;
  height: auto;
}

/* PARTE HOVER DO FILME */

.legenda {
  display: none;
}

.poster-filme:hover .legenda {
  display: block;
}

.legenda {
  width: 90%;
  height: 93%;
  padding: 10px;
  background: rgba(63, 61, 86, 0.6);
  backdrop-filter: blur(4px);
  color: white;
  position: absolute;
  top: 10px;
  left: 9px;
}

.label-filme,
.data {
  text-transform: uppercase;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 25%;
}

.bottom .label-filme {
  font-size: 10px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

.data {
  width: 70px;
  height: 26.08px;
  background: #242732;
  justify-content: center;
  margin-right: 3px;
  font-size: 11px;
  font-weight: normal;
}

.label-filme span {
  text-transform: none;
  font-weight: normal;
}

/*CONFIRA FILMES*/
.confira-filmes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confira-filmes p {
  padding-bottom: 14px;
  font-size: 14px;
  
}

.confira-filmes a {
  border: 3px solid #ee1d1d;
  text-decoration: none;
  color: #ee1d1d;
  font-size: 18px;
  padding: 4px 38px;
  text-transform: uppercase;
}

/* SOBRE */

#sobre {
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
}
/*alterado*/
@media (max-width:480px){
  #sobre{
    display:flex;
    flex-direction:column;
    
}
  .text-sobre{/*-50px do tamanho e margem original*/
    width: 325px; 
    margin-right: 80px;
    height: 250px;     
}
  #sobre img{
    width: 264px;
    height: 200px;
    margin: 10px 5px;
}
   
}/*fim do @media*/
.text-sobre {
  width: 375px;
  margin-right: 130px;
  height: 300px;
  overflow: auto;
  padding-right: 10px;
}

.text-sobre p {
  padding-bottom: 0px;
  text-align: justify;
}

#sobre img {
  width: 314px;
  height: 250px;
  margin: 20px 10px;
}

#sobre h2::after {
  width: 65px;
}

/* Footer */
footer{
  width: 100%; /*ocupar toda a tela*/
}
.contatos-container {
  background-color: #242732;
  padding: 30px 100px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;/*o container ocupar todo o footer*/
 
}
/*tela de celular*/
/*falta ajustar alinhamento dos elementos filhos*/
@media (max-width:480px){
  
  .contatos-container{
    display: flex;
    flex-direction: column;  
    align-items: center;    
    width: 100%;
    padding: 15px 50px 10px ;
   /*adicionados*/
  }  
  
   .redes-sociais, .contato, .contatos-container img{
    margin: 10px ;
  }
}
.redes-sociais h2,
.contato h2 {
  margin-bottom: 20px;
}

.redes-sociais h2::after {
  width: 140px;
}

.redes-sociais ul li {
  display: inline-block;
  margin-right: 10px;
  
}

.redes-sociais ul li a {
  display: block;
  border: 3px solid #ee1d1d;
}

.redes-sociais ul li a img {
  width: 25px;
  height: 25px;
  margin: 10px 10px 5px 10px;
}

.contato h2::after {
  width: 82px;
}
.contato ul li {
  color: #e1e1e1;
  list-style-type: disc;
  font-family: "PT Serif", serif;
  font-size: 14px;
}
.contato ul li a {
  text-decoration: none;
  color: #e1e1e1;
}
.contatos-container img,
.contato {
  margin-left: auto;
}
