/* ESPECIFICAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

body {
  background-color: #2a2c3c;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #e1e1e1;
}

p {
  font-family: "PT serif", serif;
  font-size: 14px;
  padding: 10px 0px;
  font-weight: normal;
}

.container,
.logo,
nav ul,
.busca-filmes {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242732;
  padding: 15px 100px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  z-index: 12;
}

.logo h1 {
  color: #ffbf54;
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  padding-left: 27px;
  padding-top: 5px;
}

header nav {
  margin-left: auto;
}

header nav ul li a {
  margin-left: 25px;
  margin-top: 20px;
  color: #e1e1e1;
  font-weight: bold;
}

/* SEARCH */

.filmes {
  margin-top: 100px;
  margin-left: 167px;
}

input {
  border-style: none;
  border-color: rgb(48, 48, 71);
  width: 654px;
  height: 40px;
  border-radius: 6px;
  background: #242732;
  color: #e1e1e1;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin-right: 70px;
  margin-bottom: 5px;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ee1d1d;
  margin-top: 7px;
}

.busca-filmes img {
  margin-left: 20px;
}
/*TELA POPUP DE LOGIN*/
.tela-popup {
  display: none;/*inicia invisivel*/
}
.tela-popup:target {/*quando clicado surge a tela  */
  display: flex;
}
.tela-popup {
  text-align: center;
  backdrop-filter: blur(2px);/*qtd de escurecimento*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px; 
  z-index: 10;
}
.tela-popup:target {/*subir essa config*/
  justify-content: space-around;
  align-items: center;  
}
.tela-popup-area{/*configs da area da tela popup*/
  position: absolute;
  height: 100px;
  width: 100px;
  left: 0;
  top: 0;
  cursor: default;  
}
.conteudo {/*estiliza a div da tela*/
  width: 614px;
  height: 430px;
  position: relative;
  background-color: #E1E1E1;
  padding: 0;
  border-radius: 5px;
  text-transform: uppercase;
  color:#2F2E41;
  }

.login{
  width: 280px;
  margin: 30px;
}  
.login h3{
  font-family: "PT Serif", serif;
  font-size: 16px;
}
.login input {
  background: #2F2E41;
  color: #e1e1e1;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 250px;

} 

.login label{
  text-transform: uppercase;
  color: #2F2E41;
  font-size: 14px;
  margin-top: 8px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
} 
.label{
  display: flex;
  flex-direction: row;
  margin-left: 26px;
}  
.label p{
  display: none;
}
.login .enviar {
  text-transform: uppercase;
  color: #e1e1e1;
  border-radius: 0;
  font-size: 14px;
  width:137px;
  height: 35px;
  cursor:pointer;
}
.login-email{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.senha {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.senha img{
  width: 17px;
  height: 18px;
  margin-right: 10px;
}

.fechar {
  background-color:none;
  color:#3C3C3C;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;        
  padding: 3px ;
  display: inline-block;
  font-family:Nunito, Arial, Helvetica, sans-serif;
  font-size: 16px;    
} 
.conteudo-container{
  display: flex;
  flex-direction: column;
}
.img-input{
  display: flex;
  flex-direction: row;
}
.img-input img{
  width:290px;
  height: 432px;
}
.login{/*posicionar titulo da popup com as divs de login e senha uma abaixo da outra*/
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 36px 50px 77px 25px;
  justify-content: space-between;
}
.login img{
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.login a {
  text-decoration: none;
  color: #2F2E41;
  font-size: 12.5px;
  cursor: pointer;
  margin-left: 150px;
}

/*TESTE CARROSSEL*/

.posters-container {
  margin-top: 10px;
  height: 500px;
  background-color: #242732;
}
.posters {
  width: 80%;
  height: 331px;
  margin: 0 auto;
  padding: 20px 33px;
}

.owl-carousel img {
  width: 100%;
  height: 100%;
  display: block;
}

.owl-carousel img,
.sobre img {
  background: radial-gradient(
    88.79% 88.79% at 6.76% 3.79%,
    rgba(0, 0, 0, 0.42) 0%
  );
  border: 10px solid rgba(0, 0, 0, 0.3);
  /* Nota: backdrop-filter não funciona no firefox nem no IE */
  border-radius: 2px;
  z-index: -5;
  cursor: pointer;
}

.legenda {
  display: none;
}

.poster-filme:hover .legenda {
  background: rgba(63, 61, 86, 0.6);
  backdrop-filter: blur(4px);
  color: white;
}

/*CONFIRA FILMES*/
.confira-filmes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confira-filmes p {
  padding-bottom: 14px;
  font-size: 14px;
}

.confira-filmes a {
  border: 3px solid #ee1d1d;
  text-decoration: none;
  color: #ee1d1d;
  font-size: 18px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  padding: 4px 38px;
}

/* SOBRE */

.sobre {
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
}

.text-sobre {
  width: 375px;
  margin-right: 130px;
  height: 300px;
  overflow: auto;
  padding-right: 10px;
}

.sobre img {
  width: 314px;
  height: 250px;
  margin: 20px 10px;
}

.sobre h2::after {
  width: 65px;
}

/* Footer */

footer {
  background-color: #242732;
  padding: 30px 100px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.redes-sociais h2,
.contato h2 {
  margin-bottom: 20px;
}

.redes-sociais h2::after {
  width: 140px;
}

.redes-sociais ul li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociais ul li a {
  display: block;
  border: 3px solid #ee1d1d;
}

.redes-sociais ul li a img {
  width: 25px;
  height: 25px;
  margin: 10px 10px 5px 10px;
}

.contato h2::after {
  width: 82px;
}
.contato ul li {
  color: #e1e1e1;
  list-style-type: disc;
  font-family: "PT Serif", serif;
  font-size: 14px;
}
.contato ul li a {
  text-decoration: none;
  color: #e1e1e1;
}
footer img,
.contato {
  margin-left: auto;
}
